
.galerieContainer {
    display: grid;
    justify-content: center;
   grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
   grid-auto-rows: 330px; 
   gap: 180px;
   margin-top: 30px; 
   margin-bottom: 220px;
}

.GalerieName {
    margin-left: 190px;
    font-family: var(--font-yaldevi);
}

.GalerieImage {
    transition: height 2s, width 2s;
    object-fit: contain;
    transition: transform .2s;
    width: 100%;
    height: 400px;
    margin-top: 90px;
}

.GalerieImage:hover {
    transform: scale(1.5);
} 

.galerieWrapper {
    padding: 5% 10%;
} 


.FilterItem ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 5px;
    margin-left: 80px;
    margin-top: 100px;
}

.FilterItem ul button {
    font-family: var(--font-yaldevi);
    background: rgb(148, 148, 236);
    color: #fff;
    padding: 15px 20px;
    margin-left: 5px ;
    text-transform: uppercase;
    border: white;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    outline: auto;
    cursor: pointer;
}

.FilterButton:hover {
    color: black;
    background-color: rgb(207, 207, 239);
}

.AllButton:hover {
    color: black;
    background-color:  rgb(207, 207, 239);
}

.FilterButton:focus {
    color: black;
    background-color:  rgb(207, 207, 239);
}

.AllButton:focus {
    color: black;
    background-color:  rgb(207, 207, 239);
}  



.AllButton {
    margin-left: -48px;
    cursor: pointer;
}

.FilterItem {
    cursor: pointer;
}








@media (max-width: 1024px) {

.GalerieImage:hover {
transform: scale(1.2);
}
}

@media (max-width: 640px) {

    .GalerieImage:hover {
    transform: scale(1);
    }
    }